* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input[type="text"], button {
    margin-bottom: 10px;
    padding: 5px;
}

input[type="text"] {
    border-radius: 3px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0 1px 2px #ccc;
    overflow: hidden;
    border-radius: 3px;
}

table thead {
    background-color: #666;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
}

table tr td, table tr th {
    padding: 10px;
}

table thead th:hover {
    background-color: #555;
}

table tbody {
    background-color: #fbfbfb;
}

table tbody tr:hover {
    background-color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #eee;
}

table tbody tr:nth-child(even):hover {
    background-color: #fff;
}
